{% extends "shop/base.html" %}
{% block title %}Orders{% endblock %}
{% block body %}
<h1>Orders</h1>
{% if orders %}
{% for purchase in orders %}
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-2">
				DATE PURCHASED:<br>
				{{ purchase.purchase.date|date:"F jS, Y"}}
			</div>
			<div class="col-sm-2">
				PRICE:<br>
				{{ purchase.gettotal|floatformat }} OK
			</div>
			<div class="col-sm-2">
				SHIPPED TO:<br>
				{{ purchase.purchase.shipped_to.name }}
			</div>
			<div class="col-sm-4">
				PURCHASE ID:<br>
				<a href="">{{ purchase.purchase.uuid }}</a>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="col-md-2">
			<img src="{{ purchase.product.productimage_set.first.image.url }}" alt="{{ purchase.product.product_name }}" class="img-responsive">
		</div>
		<div class="col-md-10">
			<div class="product-name">
				<a class="cart-product-name" href="{% url 'shop:viewproduct' purchase.product.id %}">{{ purchase.product }}</a> sold by {{purchase.product.seller}}
			</div>
			<div class="row">
				<h4>LAST UPDATE ({{ purchase.get_last_update.date|date:"F jS, Y"}})</h4>
				<p>{{ purchase.get_last_update.update }}</p>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% else %}
You have no orders! Go shopping and fill this list up!
{% endif %}
{% endblock %}