{% extends "shop/base.html" %}
{% block title %}{{ product.product_name }}{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-9">
		<h1>{{ product.product_name }}</h1>
		<div class="row">
			<div class="col-md-4">
				{% if product.productimage_set.count > 0 %}
					<div class="pic-app row">
					{% verbatim %}
						<ul class="col-xs-2" style="padding: 0">
							<li v-for="(pic,index) in pics" style="display: block;">
								<a href="#" v-on:click="selected=index"><img :src="pic" class="img-thumbnail"></a>
							</li>
						</ul>
						<div class="col-xs-10">
							<img :src="pics[selected]" class="img-responsive">
						</div>
					</div>
					{% endverbatim %}
				{% endif %}
			</div>
			<div class="col-md-8">
				{{ product.product_description }}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<table class="table">
			<tr>
				<td>Price</td>
				<td>
					{% if product.price_currency != 'OK' %}
					{{ product.price|floatformat }} {{ product.price_currency }} ({{ product.get_item_price|floatformat }} OK)
					{% else %}
					{{ product.get_price|floatformat }} OK
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Type</td>
				<td>{% if product.physical %}Physical{% else %}Digital{%endif%}</td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>{% if product.unlimited_stock %}Unlimited{% else %}{{ product.stock }}{% endif %}</td>
			</tr>
			<tr>
				<td>Seller</td>
				<td><a href="{% url 'shop:shop' product.seller.username %}">{{product.seller}}</a></td>
			</tr>
		</table>
		{% if can_buy %}
		{% if not product.in_stock %}
			<a href="#" disabled class="btn btn-primary btn-disabled btn-block">OUT OF STOCK</a>
		{% else %}
			{% if not incart %}
			<a href="{% url 'shop:addtocart' product.id %}" class="btn {% if not user.is_authenticated %}btn-default{% else %}btn-primary{% endif %} btn-block">
				{% if not user.is_authenticated %}LOGIN TO {% endif %}ADD TO CART</a>
			{% else %}
			<a href="#" disabled class="btn btn-primary btn-disabled btn-block">ALREADY IN CART</a>
			{% endif %}
		{% endif %}
		{% else %}
		<a href="#" disabled class="btn btn-primary btn-disabled btn-block">ALREADY OWNED</a>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block extrascripts %}
{% load static %}
<script src="{% static 'shop/vue.js' %}"></script>
<script>
	var app = new Vue({
		el: '.pic-app',
		data: {
			pics: [
			{% for image in product.productimage_set.all %}
			"{{image.image.url}}",
			{% endfor %}
			],
			selected: 0
		}
	});
</script>
{% endblock %}