{% extends "shop/base.html" %}
{% block title %}Settings{% endblock %}
{% block body %}
<h1>Settings</h1>
<!-- TODO: Settings page-->
<!-- Also, if I left this here and you just posted this to reddit, hi -->

<div class="panel panel-default">
	<div class="panel-heading">
		2FA Settings
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<a href="{% url 'shop:2fasettings' %}" class="btn btn-block btn-primary">Edit 2FA settings</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}