{% extends "shop/base.html" %}
{% block title %}{{ shop.user.username }}'s shop{% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-3">
		<h2>{{ shop.user }}</h2>
		<p class="description">
			{{ shop.description }}
		</p>
		{% if shop.user == request.user %}
		<a href="{% url 'shop:editshop' %}" class="btn btn-default btn-block">Edit page</a>
		{% endif %}
	</div>
	<div class="col-md-9">
		{% if shop.user.product_set.count > 0 %}
		{% for product in shop.user.product_set.all %}
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-3">
					<img src="{{ product.productimage_set.first.image.url }}" alt="{{ product.product_name }}" class="img-responsive">
				</div>
				<div class="col-md-9">
					<div class="product-name">
						<a class="cart-product-name" href="{% url 'shop:viewproduct' product.id %}">{{ product }}</a> for <span class="price">{{ product.price|floatformat }}</span> OK.
					</div>
					<div class="info">
						{% if product.unlimited_stock %}Unlimited{% else %}{{ product.stock }} in{% endif %} stock. <br>
						Product is {% if product.physical %}physical{% else %}digital{% endif %}.
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %}
		There's nothing here!
		{% endif %}
	</div>
</div>
{% endblock %}
{% if shop.can_customcss %}
{% block customhead %}
<style>
	{{ shop.custom_css }}
</style>
{% endblock %}
{% endif %}