{% extends "shop/base.html" %}
{% block title %}Wallets{% endblock %}
{% block body %}
{% verbatim %}
<h1>Wallets</h1>
<div class="row">
	<div class="wallets col-md-9">
		<div class="row">
			<div class="col-sm-2 bold">Label</div>
			<div class="col-sm-5 bold">Address</div>
			<div class="col-sm-2 bold">Balance</div>
			<div class="col-sm-2 bold">Pending</div>
		</div>
		<div class="row" v-for="wallet in wallets">
			<div class="col-sm-2">{{ wallet.label }}</div>
			<div class="col-sm-5">{{ wallet.address }}</div>
			<div class="col-sm-2">{{ wallet.balance }} OK</div>
			<div class="col-sm-2">{{ wallet.pending }} OK</div>
			<div class="col-sm-1">
			</div>
		</div>
	</div>
	<div class="col-md-3 panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<span class="bold">Total balance: </span><span id="totbal">{{ balance }}</span> OK
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<span class="bold">Total pending: </span><span id="totpend">{{ pending }}</span> OK
				</div>
			</div>
			<button class="btn btn-default btn-block btn-large" data-toggle="modal" data-target="#newaddressmodal"><span class="glyphicon glyphicon-plus"></span> New wallet</button>
			<button class="btn btn-default btn-block btn-large" data-toggle="modal" data-target="#sendtomodal" :disabled="balance <= 0"><span class="glyphicon glyphicon-send"></span> Send OK</button>
		</div>
	</div>
</div>
{% endverbatim %}
{% endblock %}
{% block modals %}
<div class="modal fade" id="newaddressmodal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hiden="true">&times;</span></button>
				<h4 class="modal-title" id="newaddressmodallabel">New Wallet</h4>
			</div>
			<div class="modal-body">
				<p>You can use different wallets for different things. For example, you can have a wallet you use to buy stuff, and have another to get paid from selling.</p>
				<p>What do you want to name your wallet? (Max 30 characters)</p>
				<input type="text" placeholder="Wallet name" class="form-control" v-on:keyup.enter="newwallet" v-model="walletname" v-on:input="checklength">
				<ul class="error" v-for="error in errors">
					{% verbatim %}
					<li>{{ error }}</li>
					{% endverbatim %}
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" class="btn btn-primary" v-on:click="newwallet" id="newwallet" :disabled="disableaddress">Create</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="sendtomodal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hiden="true">&times;</span></button>
				<h4 class="modal-title" id="newaddressmodallabel">Send OK</h4>
			</div>
			<div class="modal-body">
				<p>You can use this to withdraw OK and transfer it between wallets. Transfering to a wallet in this website is instant and has no fees.</p>
				{% verbatim %}
				<p>Fee: {{ fee }} OK</p>
				<p>From:</p>
				<select class="form-control" v-model="selectedwallet">
					<option v-if="wallet.balance > 0" v-for="(wallet, index) in wallets" v-bind:value="index">
						<span class="bold">{{ wallet.label }}</span>: {{ wallet.balance }} OK
					</option>
				</select>
				<p>To:</p>
				<input type="text" placeholder="Address" v-model="to_address" class="form-control" v-on:input="checkaddrlength">
				<p>Ammount:</p>
				<input type="number" placeholder="Ammount" v-model="ammount" class="form-control" v-on:input="checkammount">
				<ul class="error" v-for="error in errors">
					<li>{{ error }}</li>
				</ul>

				{% endverbatim %}
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" class="btn btn-primary" :disabled="!(validaddress && validammount && validlength) || disablesend" v-on:click="sendto">Send</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrascripts %}
{% load static %}
<script>
	newwallet_url = "{% url 'shop:apinewwallet' %}";
	checkaddr_url = "{% url 'shop:apicheckaddress' %}";
	send_url = "{% url 'shop:apisend' %}";
	wallets = [
		{% for wallet in wallets %}
		{
			label: "{{ wallet.label }}",
			address: "{{ wallet.address }}",
			balance: "{{ wallet.get_balance|floatformat }}",
			pending: "{{ wallet.get_pending|floatformat }}",
			id: "{{ wallet.id }}",
		},
		{% endfor %}
	];
	totalbalance = "{{ user.userextra.get_balance|floatformat }}";
	totalpending = "{{ user.userextra.get_pending|floatformat }}";
</script>
<script src="{% static 'shop/vue.js' %}"></script>
<script src="{% static 'shop/wallet.js' %}"></script>
{% endblock %}