{% extends "shop/base.html" %}
{% block title %}Cart{% endblock %}

{% block body %}
{% if user.cart.cartentry_set.count == 0 %}
Your cart is empty!
{% else %}
<h1>Cart</h1>
<div class="row">
	<div class="col-md-9">
		{% for product in user.cart.cartentry_set.all %}
		<div class="row panel panel-default {% if not product.in_stock %}out-of-stock{% endif %}">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<img src="{{ product.product.productimage_set.first.image.url }}" alt="" class="img-responsive">
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-7">
								<div class="product-name">
									<a class="cart-product-name" href="{% url 'shop:viewproduct' product.product.id %}">{{ product.product }}</a> sold by {{product.product.seller}}
								</div>
								{% if not product.in_stock %}
								<div class="error">Out of stock</div>
								{% endif %}
								<a href="{% url 'shop:removecart' product.id %}?next={{ request.path }}">Remove</a>
							</div>
							<div class="col-md-5">
								<div class="row">
									<div class="col-md-6">
										Price: {% if product.product.price_currency != 'OK' %}
										{{ product.product.price|floatformat }} {{ product.product.price_currency }} ({{ product.product.get_item_price|floatformat }} OK)
										{% else %}
										{{ product.product.price|floatformat }} OK
										{% endif %}
									</div>
									<div class="col-md-6">
										Quant.: <span class="quantity">{{ product.quantity }}</span>
									</div>
								</div>
								<div class="row">
									<div class="subtotal col-sm-12">Subtotal: <span class="price">{{ product.gettotal|floatformat }} OK</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				Total: {{ user.cart.gettotal|floatformat }} OK
				{% if user.userextra.get_highest_balance_wallet.get_balance > user.cart.gettotal %}
				{% if user.cart.has_something_in_stock %}
				<a href="{% url 'shop:checkout' %}" class="btn btn-primary btn-block">CHECKOUT</a>
				{% else %}
				<a href="#" disabled class="btn btn-primary btn-block">Nothing in stock!</a>
				{% endif %}
				{% else %}
				<a href="#" disabled class="btn btn-primary btn-block">Not enough balance!</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}