{% extends "shop/checkoutbase.html" %}
{% block title %}Checkout Step 1{% endblock %}
{% block body %}
<div class="panel panel-default">
	<div class="panel-body">
		Please pick a wallet to buy your order with. These wallets have enough balance for your order:
		{% for address in addresses %}
		<form action="{% url 'shop:checkout' %}" method="POST">
			<div class="row wallet">
				<div class="col-sm-1"><strong>{{ address.label }}</strong></div>
				<div class="col-sm-5">{{ address.address }}</div>
				<div class="col-sm-4">{{ address.get_balance|floatformat }} OK</div>
				{% csrf_token %}
				<input type="hidden" value="{{checkout.uuid}}" name="checkout">
				<input type="hidden" value="{{address.id}}" name="address">
				<div class="col-sm-2"><input type="submit" class="btn btn-primary btn-block" value="Use this"></div>
			</div>
		</form>
		{% endfor %}
	</div>
	<div class="panel-footer">
		<a href="{% url 'shop:cart' %}" class="btn btn-default">Cancel</a>
	</div>
</div>
{% endblock %}