{% extends "shop/authbase.html" %}
{% block title %}Login: Google authenticator{% endblock %}
{% block body %}
<div class="panel panel-default">
	<form method="post" class="form-horizontal panel-body">
		{% csrf_token %}
		<h4>Your account has 2FA enabled. What is your google authenticator code?</h4>
		<div class="col-sm-9">
			<input type="number" placeholder="Google authenticator code" name="authcode" class="form-control">
		</div>
		<div class="col-sm-3">
			<input type="submit" value="Submit" class="btn btn-primary btn-block">
		</div>
	</form>
</div>
{% endblock %}