{% extends "shop/base.html" %}
{% block title %}My purchases{% endblock %}
{% block body %}
<h1>Purchases</h1>
{% if purchases %}
{% for purchase in purchases %}
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-2">
				DATE PURCHASED:<br>
				{{ purchase.date|date:"F jS, Y"}}
			</div>
			<div class="col-sm-2">
				PRICE:<br>
				{{ purchase.get_price|floatformat }} OK
			</div>
			{% if purchase.shipped_to %}
			<div class="col-sm-3">
				SHIPPED TO:<br>
				{{ purchase.shipped_to }}
			</div>
			{% endif %}
			<div class="col-sm-5">
				PURCHASE ID:<br>
				<a href="{% url 'shop:purchase' purchase.uuid %}">{{ purchase.uuid }}</a>
			</div>
		</div>
	</div>
	<div class="panel-body">
		{% for item in purchase.purchaseitem_set.all %}
		<div class="row">
			<div class="col-md-2">
				<img src="{{ item.product.productimage_set.first.image.url }}" alt="" class="img-responsive">
			</div>
			<div class="col-md-5">
				<div class="product-name">
					<a class="cart-product-name" href="{% if item.product.physical %}{% url 'shop:vieworder' item.id %}{% else %}{% url 'shop:viewproduct' item.product.id %}{% endif %}">{{ item.product }}</a> sold by {{item.product.seller}}
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-6">
						Price: <span class="price">{{ item.price|floatformat }} OK</span>
					</div>
					<div class="col-md-6">
						Quant.: <span class="quantity">{{ item.quantity }}</span>
					</div>
				</div>
				{% if item.shipping_price %}
				<div class="row">
					<div class="col-md-12">
						Shipping price: {{ item.shipping_price|floatformat }} OK
					</div>
				</div>
				{% endif %}
				<div class="row">
					<div class="subtotal col-sm-12">Subtotal: <span class="price">{{ item.gettotal|floatformat }} OK</span></div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}
{% else %}
No purchases! Go shopping and fill this list up!
{% endif %}
{% endblock %}