{% extends "shop/base.html" %}
{% block title %}Settings{% endblock %}
{% block body %}
<h1>Settings</h1>
<div class="panel panel-default">
	<div class="panel-heading">
		Account settings
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-3">
				<ul>
					<li><a href="{% url 'shop:changepassword' %}">Change password</a></li>
					<li><a href="">Change email</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		2FA Settings
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<a href="{% url 'shop:2fasettings' %}" class="btn btn-block btn-primary">Edit 2FA settings</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}